/* css for component 1 */
._1-card {
    font-family: 'Courier New', Courier, monospace;
}

/* css for component 2 */
._2-card {
    font-family: 'Courier New', Courier, monospace;
}

/* css for component 3 */
._3-card {
    font-family: 'Courier New', Courier, monospace;
}