.custom-header button {
  position: absolute;
  right: 15px;
}
.appbody aside {
  width: auto !important;
  min-width: auto !important;
}
.modal-header button {
  position: absolute;
  right: 24px;
}

.global-margin-top {
  margin-top: 125px;
}

.global-margin-top-logged {
  margin-top: 95px;
}

* {
  box-sizing: border-box;
}

/* button[disabled] {
  background-color: orange;
} */
