.custom-header button {
  position: absolute;
  right: 15px;
}
.appbody aside {
  width: auto !important;
  min-width: auto !important;
}
.modal-header button {
  position: absolute;
  right: 24px;
}

.global-margin-top {
  margin-top: 125px;
}

.global-margin-top-logged {
  margin-top: 95px;
}

* {
  box-sizing: border-box;
}

button[disabled] {
  background-color: #f0f0f0;
}
 /* body{
overflow-y: scroll;
 } */
/* .timer-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
} */

/* .circle {
  width: 60px; 
  height: 60px; 
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(#2cb3d1 100%, #e6e6e6 0%);
}

.time {
  position: absolute;
  font-size: 18px; 
  color: #2cb3d1;
  font-weight: bold;
} */
