/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.constant_box_404 {
  margin-top: -50px;
}

/*======================
    NavBar
=======================*/
.announcement {
  font-size: 16px;
  color: orange;
}

/*======================
    App drawer
=======================*/

/* ==========>  getLeftNavBar */
/* Sidebar */
.sidebar1 {
  position: fixed;
  top: 20;
  left: 0;
  height: 100%;
  width: 0;
  background-color: hsl(180, 24%, 33%);
  overflow-x: hidden;
  transition: all 0.3s;
  border-radius: 1px solid red;
}

.sidebar.active {
  width: 250px;
  display: block; /* Show sidebar when active */
}

.sidebar-header {
  padding: 10px 40px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar ul.components {
  padding: 20px 0;
}

.sidebar ul.components li a {
  padding: 10px 15px;
  display: block;
  color: #343a40;
}

.sidebar ul.components li a:hover {
  background-color: #e9ecef;
}

/* Media Query */
/* @media (max-width: 991.98px) {
  #sidebar {
    display: none;
  }

  #sidebar.active {
    display: none;
  }

  .btn-toggle {
    display: none;
  }
} */
